<h2 mat-dialog-title class="dialog-title">Revision Authentication</h2>

<mat-dialog-content class="dialog-content">
    <p>
        To sync row revision data, please enter your airtable credentials for {{ email }}.
    </p>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Enter Password</mat-label>
        <input matInput type="password" [(ngModel)]="password"
            autocomplete="password" />
    </mat-form-field>

    <div class="error" *ngIf="passwordErrorMessage">{{ passwordErrorMessage }}</div>
</mat-dialog-content>

<mat-dialog-actions class="action-buttons" align="end">
    <button mat-stroked-button (click)="cancel()">Cancel</button>
    <button mat-flat-button color="primary" (click)="submitCode()">Authenticate</button>
</mat-dialog-actions>